<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ba.dota">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Store" />
        <activity android:name=".StrengthStore" />
        <activity android:name=".AgilityStore" />
        <activity android:name=".InteligenceStore" />
        <activity android:name=".ShowList" />
        <activity android:name=".hero.strength.Abaddon" />
        <activity android:name=".hero.strength.Alchemist" />
        <activity android:name=".hero.strength.Axe" />
        <activity android:name=".hero.strength.Beastmaster" />
        <activity android:name=".hero.strength.Brewmaster" />
        <activity android:name=".hero.strength.Bristleback" />
        <activity android:name=".hero.strength.CentaurWarrunner" />
        <activity android:name=".hero.strength.ChaosKnight" />
        <activity android:name=".hero.strength.Clockwerk" />
        <activity android:name=".hero.strength.Doom" />
        <activity android:name=".hero.strength.DragonKnight" />
        <activity android:name=".hero.strength.Earthshaker" />
        <activity android:name=".hero.strength.EarthSpirit" />
        <activity android:name=".hero.strength.ElderTitan" />
        <activity android:name=".hero.strength.Huskar" />
        <activity android:name=".hero.strength.IO" />
        <activity android:name=".hero.strength.Kunkka" />
        <activity android:name=".hero.strength.LegionCommander" />
        <activity android:name=".hero.strength.Lifestealer" />
        <activity android:name=".hero.strength.Lycan" />
        <activity android:name=".hero.strength.Magnus" />
        <activity android:name=".hero.strength.NightStalker" />
        <activity android:name=".hero.strength.Omniknight" />
        <activity android:name=".hero.strength.Phoenix" />
        <activity android:name=".hero.strength.Pudge" />
        <activity android:name=".hero.strength.SandKing" />
        <activity android:name=".hero.strength.Slardar" />
        <activity android:name=".hero.strength.SpiritBreaker" />
        <activity android:name=".hero.strength.Sven" />
        <activity android:name=".hero.strength.Tidehunter" />
        <activity android:name=".hero.strength.Timbersaw" />
        <activity android:name=".hero.strength.Tiny" />
        <activity android:name=".hero.strength.TreantProtector" />
        <activity android:name=".hero.strength.Tusk" />
        <activity android:name=".hero.strength.Underlord" />
        <activity android:name=".hero.strength.Undying" />
        <activity android:name=".hero.strength.WraithKing" />
        <activity android:name=".hero.agility.AntiMage" />
        <activity android:name=".hero.agility.ArcWarden" />
        <activity android:name=".hero.agility.Bloodseeker" />
        <activity android:name=".hero.agility.BountyHunter" />
        <activity android:name=".hero.agility.Broodmother" />
        <activity android:name=".hero.agility.Clinkz" />
        <activity android:name=".hero.agility.DrowRanger" />
        <activity android:name=".hero.agility.EmberSpirit" />
        <activity android:name=".hero.agility.FacelessVoid" />
        <activity android:name=".hero.agility.Gyrocopter" />
        <activity android:name=".hero.agility.Juggernaut" />
        <activity android:name=".hero.agility.LoneDruid" />
        <activity android:name=".hero.agility.Luna" />
        <activity android:name=".hero.agility.Medusa" />
        <activity android:name=".hero.agility.Meepo" />
        <activity android:name=".hero.agility.Mirana" />
        <activity android:name=".hero.agility.MonkeyKing" />
        <activity android:name=".hero.agility.Morphling" />
        <activity android:name=".hero.agility.NagaSiren" />
        <activity android:name=".hero.agility.NyxAssassin" />
        <activity android:name=".hero.agility.Pangolier" />
        <activity android:name=".hero.agility.PhantomAssassin" />
        <activity android:name=".hero.agility.PhantomLancer" />
        <activity android:name=".hero.agility.Razor" />
        <activity android:name=".hero.agility.Riki" />
        <activity android:name=".hero.agility.ShadowFiend" />
        <activity android:name=".hero.agility.Slark" />
        <activity android:name=".hero.agility.Sniper" />
        <activity android:name=".hero.agility.Spectre" />
        <activity android:name=".hero.agility.TemplarAssassin" />
        <activity android:name=".hero.agility.Terrorblade" />
        <activity android:name=".hero.agility.TrollWarlord" />
        <activity android:name=".hero.agility.Ursa" />
        <activity android:name=".hero.agility.VengefulSpirit" />
        <activity android:name=".hero.agility.Venomancer" />
        <activity android:name=".hero.agility.Viper" />
        <activity android:name=".hero.agility.Weaver" />
        <activity android:name=".hero.intelligence.AncientApparition" />
        <activity android:name=".hero.intelligence.Bane" />
        <activity android:name=".hero.intelligence.Batrider" />
        <activity android:name=".hero.intelligence.Chen" />
        <activity android:name=".hero.intelligence.CrystalMaiden" />
        <activity android:name=".hero.intelligence.DarkSeer" />
        <activity android:name=".hero.intelligence.DarkWillow" />
        <activity android:name=".hero.intelligence.Dazzle" />
        <activity android:name=".hero.intelligence.DeathProphet" />
        <activity android:name=".hero.intelligence.Disruptor" />
        <activity android:name=".hero.intelligence.Enchantress" />
        <activity android:name=".hero.intelligence.Enigma" />
        <activity android:name=".hero.intelligence.Grimstroke" />
        <activity android:name=".hero.intelligence.Invoker" />
        <activity android:name=".hero.intelligence.Jakiro" />
        <activity android:name=".hero.intelligence.KeeperOfTheLight" />
        <activity android:name=".hero.intelligence.Leshrac" />
        <activity android:name=".hero.intelligence.Lich" />
        <activity android:name=".hero.intelligence.Lina" />
        <activity android:name=".hero.intelligence.Lion" />
        <activity android:name=".hero.intelligence.NatureProphet" />
        <activity android:name=".hero.intelligence.Necrophos" />
        <activity android:name=".hero.intelligence.OgreMagi" />
        <activity android:name=".hero.intelligence.Oracle" />
        <activity android:name=".hero.intelligence.OutworldDevourer" />
        <activity android:name=".hero.intelligence.Puck" />
        <activity android:name=".hero.intelligence.Pugna" />
        <activity android:name=".hero.intelligence.QueenOfPain" />
        <activity android:name=".hero.intelligence.Rubick" />
        <activity android:name=".hero.intelligence.ShadowDemon" />
        <activity android:name=".hero.intelligence.ShadowShaman" />
        <activity android:name=".hero.intelligence.Silencer" />
        <activity android:name=".hero.intelligence.SkywrathMage" />
        <activity android:name=".hero.intelligence.StormSpirit" />
        <activity android:name=".hero.intelligence.Techies" />
        <activity android:name=".hero.intelligence.Tinker" />
        <activity android:name=".hero.intelligence.Visage" />
        <activity android:name=".hero.intelligence.Warlock" />
        <activity android:name=".hero.intelligence.Windranger" />
        <activity android:name=".hero.intelligence.WinterWyvern" />
        <activity android:name=".hero.intelligence.WitchDoctor" />
        <activity android:name=".hero.intelligence.Zeus" />
        <activity
            android:name=".PayPage"
            android:label="@string/title_activity_pay_page"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="return" />
            </intent-filter>
        </activity>
        <activity android:name=".Chest" />
        <activity android:name=".ChestPay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ches" />
            </intent-filter>
        </activity>
        <activity android:name=".HerosBio" />

        <service
            android:name=".ChestNotification"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="your.app.domain.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".ShowChest"></activity>
    </application>

</manifest>